.card {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    justify-content: space-around;
    font-size: 15px;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    text-align: center;
    font-family: arial;
    max-width: 155px;
    height: 200px;
    margin-left: 15px;
    padding: 15px;
    flex-direction: column;
    color: #333;
  }

  .container-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 31px;
    margin-bottom: 80px;
}

.specie {
    font-size: 12px;
    font-style: italic;
}

.imagen-round {
    
    border-radius: 80px;
    max-width: 80px;   
    margin: auto;
}