.bienvenido {
    padding: 20px;
    width: 100%;
   
}

.position {
    position: relative;
    left: 228px;
    top: -148px;
}
.contenedor-card {
    display: flex;
    flex-direction: row;
    /* z-index: 0; */
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}
